<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionEvenement</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_420_15D_FX_H26_TP1.styles.css" asp-append-version="true" />
</head>

<body class="app-bg" >

    <header class="sticky-top border-bottom app-glass">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">

                <a class="navbar-brand d-flex align-items-center gap-2" asp-page="/Index">
                    <span class="brand-dot"></span>
                    <span class="fw-bold">Gestion des Evenement</span>
                </a>
                <div class="collapse navbar-collapse" id="topNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-lg-1">

                        <li class="nav-item">
                            <a class="nav-link fw-bold text-primary" asp-page="/Index" >Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fw-bold text-primary" asp-page="/Categories/Index" asp-area="Admin">Gestion des Catégories</a>
                        </li>
                    </ul>

                    <div class="d-flex align-items-center gap-2">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>

     
        

    </header>
      <main class="py-4 pb-footerbar main-bg">
        @RenderBody()
    </main>

    <footer class="footerbar border-top app-glass text-center">
        Par Moussa Dembélé dans le cadre du cours Application Web, Cegep Garneau.
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

