@using Microsoft.AspNetCore.Identity
@using _420_15D_FX_H26_TP1.Models
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
    <li class="nav-item pt-3">
            <p class="fw-bold text-white">Hello @user.Prenom, </p>
    </li>
    <li class="nav-item">
            <a class="form-inline fw-bold btn btn-success m-2" asp-area="Identity" asp-page="/Account/Manage/Index">Voir mon Profile</a>
    </li>
        <li class="nav-item">
            <a class="form-inline fw-bold btn btn-success m-2" asp-area="Identity" asp-page="/Account/Logout">Me deconnecter</a>
        </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link fw-bold text-primary" asp-area="Identity" asp-page="/Account/Register">Créer un compte</a>
    </li>
    <li class="nav-item">
            <a class="nav-link fw-bold text-primary" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
    </li>
}
</ul>
