@using Microsoft.AspNetCore.Identity
@using _420_15D_FX_H26_TP1.Models
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link  fw-bold text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
            <form class="form-inline fw-bold text-primary" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link fw-bold text-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link fw-bold text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
