@page
@model LoginModel

@{
    ViewData["Title"] = "Connexion";
}

<h1 class="text-primary text-center">@ViewData["Title"]</h1>
<div class="align-content-center text-center p-5 pb-0">

            <form class="align-content-center text-center " id="account" method="post">
                <h2 class="text-primary text-center">Entrez vos informations</h2>
             
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control"  aria-required="true"  />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Se connecter</button>
                </div>
                <div>
        
                    <p>
                        <a asp-page="./Register">créer un nouveau compte? </a>
                    </p>
                    <p>
                <a asp-page="./ResetPassword">Renitialiser mon mot de passe</a>
                    </p>
                </div>
            </form>
            @{
                if(TempData["SuccessMessage"] is not null)
                {
                    <span class="text-success">@TempData["SuccessMessage"]</span>
                }

            }
            <span></span>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
