@page
@model LogoutModel
@{
    ViewData["Title"] = "Deconnexion";
}

@* <header> *@
    <h1 class="text-primary text-center" >@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline text-center align-content-center " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button type="submit" class="form-inline fw-bold btn btn-success m-2">Se deconnecter</button>
            </form>
        }
        else
        {
            <p>Vous n'êtes pas connecté'.</p>
        }
    }
@* </header> *@
