@page "{code:int?}"
@model ErrorModel
@{
    ViewData["Title"] = "Erreur";
    ViewData["titre"] = "Erreur";
}


<h3 >Code : @Model.Code</h3>
@if (Model.Code == 404)
{
    <p>La page demandée est introuvable.</p>
}
else if (@Model.Code == 403)
{
    <p>Vous n'avez pas la permission d'accéder à cette page.</p>
}
else
{
    <h2>Oups ! Une erreur est survenue.</h2>
    <p>Nous avons rencontré une erreur inattendue.</p>
}

<p>
    <a asp-page="/Index" class="btn btn-success m-3">Retour à la page d'accueil</a>
</p>